In [27]:
import pandas as pd
import sklearn
import numpy as np

In [28]:
train_df_sample = pd.read_csv("./train_df_sample.csv")
train_df_sample

,Unnamed: 0,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,euros_per_mwh,price_elec
0,827354,13,0,1,94.204,0,2022-05-25 13:00:00,266,827354,50,149.99,-1
1,345348,11,0,3,0.000,0,2021-12-25 03:00:00,115,345348,45,91.58,-1
2,1770844,11,1,1,0.110,0,2023-03-14 22:00:00,559,1770844,46,81.67,-1
3,1125988,15,0,3,6.055,0,2022-08-27 06:00:00,360,1125988,58,82.02,-1
4,1305612,10,0,1,0.015,0,2022-10-21 21:00:00,415,1305612,38,143.00,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
79995,1577946,3,0,1,0.483,0,2023-01-13 13:00:00,499,1577946,11,79.04,-1
79996,776267,9,0,1,10.361,1,2022-05-09 16:00:00,250,776267,34,111.21,-1
79997,338731,2,1,3,368.618,1,2021-12-22 23:00:00,112,338731,10,98.85,-1
79998,846244,11,1,3,91.898,0,2022-05-31 10:00:00,272,846244,48,100.49,-1
79999,1406429,11,0,1,275.406,1,2022-11-21 11:00:00,446,1406429,43,300.06,-1

In [3]:

train_df_sample = train_df_sample[train_df_sample["target"].isna() == False]

In [29]:
from sklearn.model_selection import train_test_split

X = train_df_sample.drop('target', axis=1)
y = train_df_sample['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [30]:
X_train

,Unnamed: 0,county,is_business,product_type,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,euros_per_mwh,price_elec
3822,1395978,15,1,0,0,2022-11-18 07:00:00,443,1395978,64,193.21,-1
35562,3742,10,1,2,0,2021-09-02 06:00:00,1,3742,41,122.46,-1
4883,1870787,5,1,1,1,2023-04-15 15:00:00,591,1870787,22,62.71,-1
71170,686177,0,1,1,1,2022-04-11 23:00:00,222,686177,4,109.95,-1
25665,11737,3,0,3,1,2021-09-05 00:00:00,4,11737,12,92.72,-1
...,...,...,...,...,...,...,...,...,...,...,...
6265,1873450,14,1,1,0,2023-04-16 11:00:00,592,1873450,55,105.98,-1
54886,1457095,4,1,3,1,2022-12-06 23:00:00,461,1457095,18,272.42,-1
76820,111117,11,0,3,1,2021-10-08 16:00:00,37,111117,45,115.24,-1
860,565571,8,0,3,1,2022-03-05 07:00:00,185,565571,32,113.27,-1
15795,1725842,13,1,1,0,2023-02-28 17:00:00,545,1725842,63,137.05,-1

In [22]:
y_train.isna().sum()

10

In [8]:
from sklearn.model_selection import train_test_split

def split_data(df, target_column='target', test_size=0.2, random_state=42):
    """
    ParamÃ¨tres :
    - df : DataFrame, le DataFrame contenant les donnÃ©es.
    - target_column : str, le nom de la colonne cible.
    - test_size : float, la proportion des donnÃ©es Ã  inclure dans l'ensemble de test.
    - random_state : int, la graine pour la reproductibilitÃ© des rÃ©sultats.

    Retourne :
    - X_train, X_test, y_train, y_test : les ensembles d'entraÃ®nement et de test.
    """
    X = df.drop(target_column, axis=1)
    y = df[target_column]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    return X_train, X_test, y_train, y_test

# Utilisation de la fonction
X_train, X_test, y_train, y_test = split_data(train_df_sample)

### Metrics and Evaluation

In [41]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error, mean_squared_error

def model_evaluator(model_trained, X, y):
    temp_y_train_hat = model_trained.predict(X)
    print("MAE : ", mean_absolute_error(y, temp_y_train_hat))
    print("MSE : ", mean_squared_error(y, temp_y_train_hat))
    print("MAPE : ", mean_absolute_percentage_error(y, temp_y_train_hat))

# Utilisation de la fonction avec le modÃ¨le entraÃ®nÃ©
model_evaluator(dummy_regr, X_train, y_train)

NotFittedError: This DummyRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [39]:
model_evaluator(dummy_regr)

TypeError: model_evaluator() missing 2 required positional arguments: 'X' and 'y'